.container{
  /* margin-top: 200px; */
  margin-left: 20px;
}

.parrafo{
  color:blanchedalmond;
  position:relative;
  bottom:170px;
}

.titulo{
  color:blanchedalmond;
  width:200px;
  position:relative;
  left:500px;
  bottom:200px;
}

@media (max-width:500px){
  .projectname{
    color:rgb(255, 255, 255);
    text-decoration:wavy;
    font-size: 20px;
    position:relative;
    bottom:180px !important;
  }

  .links{
    color:rgb(15, 248, 229);
    text-decoration:none;
    font-size: 20px;
    width:100px;
    position:relative;
    left:0% !important;
    bottom:185px;
  }

  .PIvideo{
    width:100% !important;
    position:relative;
    left:0% !important;
    bottom:180px;
  }

  .PGvideo{
    width:100% !important;
    position:relative;
    left:0% !important;
    bottom:150px;
  }

  .thankstext{
    color:blanchedalmond;
    width:95% !important;
    position:relative;
    bottom:75px;
    left:0% !important;
  }

  .titulo{
    color:blanchedalmond;
    width:200px;
    position:relative;
    left:0% !important;
    bottom:200px;
  }
}

.projectname{
  color:rgb(255, 255, 255);
  text-decoration:wavy;
  font-size: 20px;
  position:relative;
  bottom:150px;
}

.links{
  color:rgb(15, 248, 229);
  text-decoration:none;
  font-size: 20px;
  width:100px;
  position:relative;
  left:200px;
  bottom:185px;
}

.PIvideo{
  width:600px;
  position:relative;
  left:270px;
  bottom:180px;
}

.PGvideo{
  width:600px;
  position:relative;
  left:260px;
  bottom:150px;
}

.thankstext{
  color:blanchedalmond;
  margin: 0;
  width:525px;
  position:relative;
  bottom:75px;
  left:350px;
}