
@media (max-width:500px){
  .projectname{
    color:rgb(255, 255, 255);
    text-decoration:wavy;
    font-size: 20px;
    position:relative;
    bottom:180px !important;
  }

  .links{
    color:rgb(15, 248, 229);
    text-decoration:none;
    font-size: 20px;
    width:100px;
    position:relative;
    left:0% !important;
    bottom:185px;
  }

  .PIvideo{
    width:100% !important;
    position:relative;
    left:0% !important;
    bottom:180px;
  }

  .PGvideo{
    width:100% !important;
    position:relative;
    left:0% !important;
    bottom:150px;
  }

  .thankstext{
    color:blanchedalmond;
    width:95% !important;
    position:relative;
    bottom:75px;
    left:0% !important;
  }

  .titulo{
    color:blanchedalmond;
    width:200px;
    position:relative;
    left:0% !important;
    bottom:200px;
  }
}

.container{
  /* display: flex;
  flex-direction: row; */
  margin-right: 20%;
  margin-bottom:5%;
  background-color: rgb(22, 22, 27);
  width:100%;
  height:60%;
  position:relative;
  bottom:20%;
}

.cardcontainer{
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 35%;
  height: 70%;
}

/* .parrafo{
  color:blanchedalmond;
  position:relative;
  bottom:170px;
} */

.titulo{
  color:blanchedalmond;
  width:200px;
  position:relative;
  left:43%;
  bottom:0%;
}

.projectname{
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-size: 20px;
  position:relative;
  /* bottom:150px; */
}

.links{
  color:#039610;
  text-decoration:none;
  font-size: 20px;
  width:100px;
  position:relative;
  /* left:200px;
  bottom:185px; */
}

.PItechs{
  color: #ffffff;
  position:absolute;
  bottom:10%;
  left:5%;
}

.PGtechs{
  color: #ffffff;
  position:absolute;
  bottom:9%;
  left:20%;
}

.ProjectCard{
  border: 3px solid #fcfcfc;
  box-shadow: 10px 10px 12px 2px #d5dfd6;
  width:100%;
  height:100%;
  margin:0;
}

.ProjectCard:hover{
  box-shadow: 0px 0px 12px 6px #03680b;
}

.thankstext{
  color:blanchedalmond;
  width:70%;
  position:relative;
  top:35%;
  left:30%;
}