
@media (max-width:500px){
  .projectname{
    color:rgb(255, 255, 255);
    text-decoration:wavy;
    font-size: small !important;
    position:relative !important;
    top:-15% !important;
  }
  
  .container{
    margin-right: 20%;
    margin-bottom:5%;
    background-color: rgb(22, 22, 27);
    width:100%;
    height:60%;
    position:relative;
    bottom:20%;
  }

  .cardcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position:absolute !important;
    bottom:10% !important;
    width: 100% !important;
    height: 80% !important;
  }
  
  .ProjectCard{
    border: 3px solid #fcfcfc;
    text-decoration: none;
    box-shadow: 10px 10px 12px 2px #d5dfd6;
    width:100% !important;
    height:100% !important;
    margin-right: 5% !important;
  }
  
  .thankstext{
    color:blanchedalmond;
    font-size: x-small !important;
    width:85% !important;
    position:absolute !important;
    top:105% !important;
    left:10% !important;
  }

  .titulo{
    font-size: x-large;
    position:absolute !important;
    left:30% !important;
    top:-20% !important;
  }
  
  .PItechs{
    color: #ffffff;
    font-size: small;
    position:absolute;
    bottom:-5% !important;
    left:17% !important;
  }
  
  .PGtechs{
    color: #ffffff;
    font-size: small;
    position:absolute;
    bottom:-6% !important;
    left:58% !important;
  }

  .BPlogo{
    width:10% !important;
    height:10% !important;
    position:absolute !important;
    top:-15% !important;
    right:20% !important;
  }
}

.container{
  margin-right: 20%;
  margin-bottom:5%;
  background-color: rgb(22, 22, 27);
  width:100%;
  height:60%;
  position:relative;
  bottom:20%;
}

.BPlogo{
  width:6%;
  height:10%;
  position:absolute;
  top:0%;
  right:37%;
}

.BPlogoESP{
  width:6%;
  height:10%;
  position:absolute;
  top:0%;
  right:35%;
}

.cardcontainer{
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 100%;
  height: 70%;
}

.titulo{
  color:#03680b;
  width:200px;
  position:relative;
  left:43%;
  bottom:0%;
}

.projectname{
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-size: 20px;
}

.PItechs{
  color: #ffffff;
  position:relative;
  top:50%;
  /* left:5%; */
}

.PGtechs{
  color: #ffffff;
  position:relative;
  top:43%;
  /* left:20%; */
}

.SPtechs{
  color: #ffffff;
  position:relative;
  top:50%
}

.ProjectCard{
  border: 3px solid #fcfcfc;
  text-decoration: none;
  box-shadow: 10px 10px 12px 2px #d5dfd6;
  width:100%;
  height:100%;
  margin:0;
}

.ProjectCard:hover{
  box-shadow: 0px 0px 12px 6px #03680b;
}

.thankstext{
  color:blanchedalmond;
  width:70%;
  position:relative;
  top:35%;
  left:30%;
}