
@media (max-width:500px){
  .Pbackground{
    color:blanchedalmond;
    z-index: 10px;
    width:100% !important;
    height:20% !important;
    opacity:0.6;
    border: 5px double #074f92;
  }

  .Aboutme{
    color:blanchedalmond;
    position:absolute !important;
    bottom:100% !important;
    left:5% !important;
  }

  .programmergif{
    width:20% !important;
    height:10% !important;
  }

  .introduction{
    display: flex !important;
    flex-direction: column;
    width:90%;
    margin-top: 10% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    top:75% !important;
    right:0% !important;
  }
}

body{
  font-family:"sans-serif";
}

.Pbackground{
  /* background-color:gray; */
  width:80%;
  height:98%;
  opacity:0.6;
  margin-right: 10%;
  border: 5px double #03680b;
  position:relative;
  left:18%;
}

.paragraph{
  color:white;
  position:relative;
  top:65%;
  left:2%
}

.born{
  color:rgba(255, 255, 255, 0.705);
  position:absolute;
  top:10%;
  left:20%;
}

.nationality{
  color:rgba(255, 255, 255, 0.705);
  position:absolute;
  left:20%;
  top:25%;
}

.hobbies{
  color:rgba(255, 255, 255, 0.705);
  position:absolute;
  left:20%;
  top:40%;
}

.programmergif{
  z-index: 0;
  width:25%;
  height:50%;
  margin-left: 5%;
  position:relative;
  right:30%;
  top:5%
}

.introduction{
  /* background-color: rgb(22, 22, 27); */
  background-color: rgb(22, 22, 27);
  display: flex;
  justify-content: center;
  width:100%;
  height:60%;
  margin-top: 15%;
  margin-bottom: 15%;
  position: relative;
  top:20%;
  /* right:10%; */
}

.Aboutme{
  color:blanchedalmond;
  position:absolute;
  margin-bottom: 3%;
  bottom:90%;
  left:45%;
}