
@media (max-width:500px){
  .Pbackground{
    color:blanchedalmond;
    z-index: 10px;
    width:100% !important;
    height:20% !important;
    opacity:0.6;
    border: 5px double #074f92;
  }

  .Aboutme{
    color:blanchedalmond;
    position:absolute !important;
    bottom:100% !important;
    left:5% !important;
  }

  .programmergif{
    width:20% !important;
    height:10% !important;
  }

  .introduction{
    display: flex !important;
    flex-direction: column;
    width:90%;
    margin-top: 10% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    top:75% !important;
    right:0% !important;
  }
}

.Pbackground{
  background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #062F02 50%, #0EC50B 100%);
background: -webkit-linear-gradient(top, #000000 0%, #062F02 50%, #0EC50B 100%);
background: linear-gradient(to bottom, #000000 0%, #062F02 50%, #0EC50B 100%);
  width:80%;
  height:98%;
  opacity:0.6;
  margin-right: 10%;
  /* border: 5px double #03680b; */
  position:relative;
  left:18%;
}

.paragraph{
  color:white;
  position:relative;
  top:65%;
  left:2%
}

.born{
  color:#00ff15;
  position:absolute;
  top:10%;
  left:20%;
}

.bornAnswer{
  color:white;
  position:absolute;
  top:10%;
  left:23%;
}

.bornAnswerES{
  color:white;
  position:absolute;
  top:10%;
  left:23.5%;
}

.nationality{
  color:#00ff15;
  position:absolute;
  left:20%;
  top:25%;
}

.nationalityAnswer{
  color:white;
  position:absolute;
  left:27%;
  top:25%;
}

.nationalityAnswerES{
  color:white;
  position:absolute;
  left:28.5%;
  top:25%;
}

.hobbies{
  color:#00ff15;
  position:absolute;
  left:20%;
  top:40%;
}

.hobbiesAnswer{
  color:white;
  position:absolute;
  left:25.5%;
  top:40%;
}

.programmergif{
  z-index: 0;
  width:25%;
  height:50%;
  margin-left: 5%;
  position:relative;
  right:30%;
  top:5%
}

.introduction{
  /* background-color: rgb(22, 22, 27); */
  display: flex;
  justify-content: center;
  width:100%;
  height:60%;
  margin-top: 15%;
  margin-bottom: 15%;
  position: relative;
  top:20%;
  /* right:10%; */
}

.Aboutme{
  color:#03680b;
  position:absolute;
  margin-bottom: 3%;
  bottom:95%;
  left:43%;
}

.infologo{
  position:absolute;
  right:40%;
  bottom:105%;
  height:10%;
  width:5%;
}