.list{
    margin-left: 20px;
    position: relative;
    top:150px;
}

.techtitle{
    position:absolute;
    left:500px;
    bottom:180px;
}

/* .box{
    justify-content: space-between;
} */

.singletech{
    border:2px solid #074f92;
    color:#074f92;
    height:50px;
}