
@media (max-width:500px){
    .luztech{
        width:100% !important;
        height:50% !important;
        position:relative;
        left:0% !important;
        bottom:20% !important;
    }

    .techtitle{
        color:#ffffffd7;
        width:50% !important;
        position:relative;
        left:25% !important;
        top:50% !important;
        margin:0px;
    }
    
    .techname{
        font-size: 50%!important;
    }

    .singletech{
        border:1px solid #0a0555d7;
        color:#ffffff;
        outline: none;
        width:50% !important;
        box-shadow: 0px 0px 12px 2px #09cce6;
        /* position:absolute;
        left:0% !important;
        bottom:420% !important; */
    }
    
    .box{
        width:20%;
        /* display: flex;
        justify-content:space-between; */
        
    }

    .jslogo{
        width:50% !important;
        position:relative;
        left:10% !important;
    }
    
    .tslogo{
        width:50% !important;
        position:relative;
        left:10% !important;
    }
    
    .reduxlogo{
        width: 50% !important;;
        position:relative;
        left:20% !important
    }
    
    .socketlogo{
        width:50% !important;
        position:relative;
        left:10% !important
    }
    
    .mongologo{
        width:50% !important;
        position:relative;
        left:10% !important
    }
    
    .expresslogo{
        width:100% !important;
        position:relative;
        left:5% !important
    }
    
    .htmllogo{
        width:50% !important;
        position:relative;
        left:10% !important;
    }
    
    .csslogo{
        width:50% !important;
        position:relative;
        left:10% !important
    }
}

.grandiv{
    width:100%; 
    height:100vh;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 15%;
   
}

.techtitle{
    color:#ffffffd7;
    width:100px;
    position:relative;
    left:-7%;
    top:0%;
    margin:0px;
}

.grid{
    /* width:50%; */
    z-index:1;
    /* position:relative;
    left:24%;
    bottom:100%; */
}

.luztech{
    z-index:0;
    width:43%;
    height:600px;
    position:relative;
    left:24%;
    bottom:49px;
}

.techname{
    display:flex;
    align-items:center;
    justify-content:center;
}

.singletech{
    border:1px solid #0a0555d7;
    color:#ffffff;
    box-shadow: 0px 0px 12px 2px #09cce6;
    /* width:20% */
    /* display:flex;
    align-items:center;
    justify-content:center; */
}

.papertech{
    background:black
}

.logos{
    width:15%;
    /* height:20%; */
    position:relative;
    left:40%;
}

.expresslogo{
    width:30%;
    /* height:20%; */
    position:relative;
    left:35%;
}

.tslogo{
    width:24%;
    /* height:20%; */
    position:relative;
    left:40%;
}