.logoGitHub{
    /* margin-top: 20px; */
    height:40px;
    width:40px;
    border-radius: 20px;
    /* position:relative;
    left:20px; */
}

.logoLinkedIn{
    height:40px;
    width:40px;
    border-radius: 20px;
    /* position: relative;
    left:180px;
    bottom:105px; */
}

.espaciologos{
    height:50px;
}

.footer{
    /* margin-top: 150px; */
    margin-left: 300px;
    border-top:solid 2px rgb(255, 255, 255);
    /* background: #CE8523;
    background: -moz-linear-gradient(top, #CE8523 0%, #081F2E 50%, #000000 100%);
    background: -webkit-linear-gradient(top, #CE8523 0%, #081F2E 50%, #000000 100%);
    background: linear-gradient(to bottom, #CE8523 0%, #081F2E 50%, #000000 100%); */
    width:600px;
    height:80px;
    position:relative;
    right:10px;
    bottom:50px;
}

.textito{
    width:400px;
    height:100px;
    margin-top: 10px;
    position:relative;
    top:1570px;
    left:10px;
}

.logoGmail{
    height:40px;
    width:40px;
    border-radius: 20px;
    position:relative;
    /* bottom:215px; */
    /* left:350px; */
}

.gmailtext{
    color:blanchedalmond
}

.linkedtext{
    text-decoration: none;
}

.githubtext{
    text-decoration:none;
}