.navbar{
  position:fixed;
  z-index: 1;
  background-color: transparent;
}

.appbar{
  background-color: transparent;
  display:flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.navbarBG{
  background-color: transparent;
  /* border-top-left-radius: 18px;
  border-bottom-left-radius: 18px; */
  background:solid;
  z-index: 1;
}

.buttonscroll{
  margin-left: 3%;
}

.languagelogo{
  width:3%;
  z-index: 1;
  background-color:transparent;
  position:fixed;
  top:0%;
  left:0.5%;
}

.achicarespacio{
  height:800px;
}

.imagenfondo{
  background-image: url('../src/components/imgs/night\ road.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height:100vh;
  width:100%;
}

@media (max-width:500px){
  .imagenfondo{
    background-image: url('../src/components/imgs/night\ road.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:initial; */
    box-sizing: border-box;
    width:100% !important;
    height:500px !important;
  }

  .profilePic{
    width:45% !important;
    height:30% !important;
    border-radius: 20px !important;
    position:relative;
    left:5% !important;
    top:10%;
  }

  .welcometext{
    color:whitesmoke;
    font-size:25px !important;
    /* width:15px !important;
    height:15px !important; */
    position:absolute;
    left:10% !important;
    top:45% !important;
  }

  .residencetext{
    color:whitesmoke;
    font-size:15px !important;
    position:relative;
    left:15% !important;
    top:60% !important;
  }
}

body{
  background-color: rgb(3, 3, 7);
  /* animation-name: welcomeanimation;
  animation-duration: 3s; */
}

/* .entryanimation{
  font-size: 80px;
  position:absolute;
  top:35%;
  left:24%;
}

@keyframes welcomeanimation{
  from { background-color: #242526;}
  to {background-color: rgb(4, 209, 199);
    
  }
} */



.profilePic{
  z-index: 0;
  width:35%;
  height:75%;
  border-radius: 100px;
  position:relative;
  left:150px;
  top:80px;
}

.welcometext{
  font-size:60px;
  position:absolute;
  right:4%;
  top:15%;
}

.residencetext{
  position:absolute;
  right:27%;
  top:55%;
}

.residencetextESP{
  position:absolute;
  right:25%;
  top:55%;
}