.navbar{
  position:fixed;
  background-color: black;
  /* width:600px; */
}

.languagelogo{
  width:35px;
  height:35px;
  position:absolute;
  top:1px;
}

.achicarespacio{
  height:800px;
}

.imagenfondo{
  background-image: url('../src/components/imgs/night\ road.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height:650px;
}

body{
  background-color: #242526;
}

.profilePic{
  width:450px;
  height:450px;
  border-radius: 100px;
  position:relative;
  left:100px;
  top:80px;
}

.welcometext{
  font-size:50px;
  position:absolute;
  right:4%;
  top:15%;
}

.residencetext{
  position:absolute;
  right:29%;
  top:55%;
}
