.navbar{
  position:fixed;
  z-index: 1;
  background-color: transparent;
}

.appbar{
  background-color: transparent;
  display:flex;
}

.navbarBG{
  background-color: transparent;
  background:solid;
  z-index: 1;
}

.buttonscroll{
  margin-left: 3%;
}

.languagelogo{
  width:3%;
  z-index: 1;
  position:fixed;
  top:0%;
  left:0.5%;
}

.achicarespacio{
  height:800px;
}

.imagenfondo{
  background-image: url('../src/components/imgs/night\ road.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height:100vh;
  width:100%;
}

@media (max-width:500px){
  .imagenfondo{
    background-image: url('../src/components/imgs/night\ road.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width:100% !important;
    height:500px !important;
  }
    
  .buttonscroll{
    width:27% !important;
    height:100% !important;
    font-size: small;
  }
  
  .appbar{
    background-color: transparent;
    height:50px;
  }

  .dropdownB{
    height:100%;
    position:absolute;
    left:50%;
    top:20%;
  }

  .languagelogo{
    width:7%;
    z-index: 1;
    position:fixed;
    top:2% !important;
    left:0.3%;
  }

  .profilePic{
    width:45% !important;
    height:30% !important;
    border-radius: 20px !important;
    position:relative;
    left:5% !important;
    top:10%;
  }

  .welcometext{
    color:whitesmoke;
    font-size:25px !important;
    position:absolute;
    left:10% !important;
    top:40% !important;
  }

  .residencetext{
    color:whitesmoke;
    font-size:15px !important;
    position:relative;
    left:11% !important;
    top:52% !important;
  }

  .residencetextESP{
    color:whitesmoke;
    font-size:15px !important;
    position:relative;
    left:11% !important;
    top:60% !important;
  }
}

body{
  background-color: rgb(6, 6, 14);
  font-family:'Times New Roman'
}

.profilePic{
  z-index: 0;
  width:35%;
  height:75%;
  border-radius: 100px;
  position:relative;
  left:150px;
  top:80px;
}

.welcometext{
  font-size:60px;
  position:absolute;
  right:4%;
  top:20%;
}

.residencetext{
  position:absolute;
  right:27%;
  top:55%;
}

.residencetextESP{
  position:absolute;
  right:25%;
  top:55%;
}